<h1 class="title">Estos son solo unos ejemplos de Proyectos que programe</h1>
<div class="Examples">
    <div class="ejemplo">
        <a href="https://github.com/LautaroMol/HotelApp" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/hotel.gif">
        </a>
        <p>Proyecto de gestion de hotel realizado en grupo como trabajo de la carrera,
            cuenta con gestion de reservas controlado por fechas, control de habitaciones disponibles
            y practicamente todo lo necesario para manejar un sistema de reservas y habitaciones,
            pudiendo tener varias habitaciones para una habitacion siempre y cuando no se sobrepongan en el tiempo.
            En este trabajo desarrolle parte del backend y algunas presentaciones del frontend, tablas, formularios etc.
            Fue desarrollado en Blazor 6 y el BackEnd con tecnologia asp.net
        </p>
    </div>
    <div class="ejemplo">
        <a href="https://github.com/LautaroMol/Gestor-de-viajes-frontend" target="_blank" rel="noopener noreferrer">
            <video src="../../assets/travel.mp4" class="ejemplo-video" autoplay loop muted></video>
        </a>
        <p>Proyecto asistente de viajes, cuenta con funciones como un listado de los viajes registrados, seguimiento del vehiculo
          mapa con ubicacion geografica, gestor de gastos por viaje, trazado de rutas, carga de pdf, generacion de recibos y login.
          Frontend desarrolladoen angular y backend en .net 8 con entity framework y sql server
        </p>
    </div>
    <div class="ejemplo">
        <a href="https://github.com/LautaroMol/IEFI-Programacion-II">
            <img src="../../assets/Alumnos2.png" alt="Imagen 2">
        </a>
        <p>Proyecto hecho en c# para el manejo de matriculacion de alumnos y registro de profesores,
            esta desarrolladoen windows forms y usa una base de datos de access para la prueba del manejo de
        </p>
    </div>
</div>
