.dialog-content {
    background-color: #2f2f2f;
    color: white;
    text-align: left;
    font-size: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    
  }
  
  .icon {
    padding: 20px;
    font-size: 3em;
    margin-right: 20px;
    overflow: hidden;
    box-sizing: content-box;
  }
  
  .text {
    flex-grow: 1;
    overflow: hidden;
    box-sizing: content-box;
  }
  