<div class="contact-container">
    <div class="contact">
        <div class="icon">
            <fa-icon [icon]="faLaptopCode"></fa-icon>
        </div>
    </div>
    <div class="contact-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" class="contact-right">
          <div class="contact-right-title">
            <h2>Contactame:</h2>
            <hr>
          </div>
          <input
            type="text"
            name="from_name"
            id="from_name"
            placeholder="¿Quién va a contactarme?"
            class="contact-inputs"
            [ngClass]="{ 'invalid-input': form.get('from_name')?.invalid && form.get('from_name')?.touched }"
            formControlName="from_name"
          />
          <input
            type="email"
            placeholder="Correo"
            class="contact-inputs"
            [ngClass]="{ 'invalid-input': form.get('reply_to')?.invalid && form.get('reply_to')?.touched }"
            formControlName="reply_to"
          />
          <textarea
            placeholder="Cuerpo del mensaje"
            class="contact-inputs"
            [ngClass]="{ 'invalid-input': form.get('message')?.invalid && form.get('message')?.touched }"
            formControlName="message"
          ></textarea>
          <button mat-button type="submit" class="custom-mat-button" [disabled]="!form.valid">Enviar</button>
          <h1>Portfolio hecho sobre la plataforma Angular y usando complementos como angular material, fontawesome entre otros</h1>
        </form>
      </div>
      
</div>
