.container {
    text-align: center;
  }
  
  .content {
    color: #a0a0a0;
    text-shadow: 2px 2px 2px #404040;
    opacity: 0;
    animation: fadeIn 1.5s forwards, slideIn 1.5s forwards;
    display: flex;
    align-items: center;
  }
  
  .text-container {
    margin-left: 20px;
  }
  .text-container
  
  .title, .subtitle {
    opacity: 0;
    animation: fadeIn 1.5s forwards, slideInReverse 1.5s forwards;
  }
  
  .profile-image {
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn 1.5s forwards, slideIn 1.5s forwards;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .icons fa-icon {
    margin-left: 20px;
    font-size: 4em;
    margin-top: 5px; 
    color: #8d8c8e;
    transition: color 0.3s ease; 
  }

  .icons fa-icon:hover {
    color: #ffffff;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInReverse {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0);
    }
}