  <div class="container">
    <div class="content">
      <img src="../assets/pfp.png" alt="Imagen Placeholder" class="profile-image">
      <div class="text-container">
        <h1 class="title">Portafolio Lautaro Maximiliano Castellanos Molina</h1>
        <h2 class="subtitle">Desarrollador FullStack</h2>
        <div class="icons">
          <a href="https://www.linkedin.com/in/lautaro-maximiliano-castellanos-molina/" target="_blank">
            <fa-icon [icon]="FaLinkedin"></fa-icon>
          </a>
          <a href="https://github.com/LautaroMol" target="_blank">
            <fa-icon [icon]="FaGithub"></fa-icon>
          </a>
          <a href="mailto:laumol159@gmail.com" target="_blank">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </a>
          <a href="../assets/Lautaro-Castellanos-Molina-cv.pdf" download="Lautaro-Castellanos-Molina-cv.pdf">
            <fa-icon [icon]="faDownload"></fa-icon>
          </a>
        </div>
        </div>
    </div>
  </div>  